{% extends "base.html" %} {% block content %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../static/img/hangman_photo.png" class="align-self-center mr-3" alt="hangman_photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text"><b>Hangman</b> is a paper and pencil guessing game for two or more players.
          One player thinks of a word, phrase or sentence and the other(s) tries to
          guess it by suggesting letters within a certain number of guesses.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
